@import url(//fonts.googleapis.com/css?family=Montserrat:100i,400,700,900);

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: #5c5c5c;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.header-wrapper {
    background-color: #5EAAA8;
}

.header {
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    font-size: 24px;
    font-weight: 700;
    color: #F8F1F1;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

.header a {
    text-decoration: none;
    color: #F8F1F1;
}

.section-one-wrapper {
    background-color:#5EAAA8;
}

.section-one {
    color: #F8F1F1;
    margin: 50px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.hero-text h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
}



button {
    background-color: #EB5E0B;
    color:#F8F1F1;
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
}

.section-two-wrapper {
    background-color: #F8F1F1;
}

.section-two {
    margin: 50px 200px;
    text-align: center;
}

.section-two h2 {
    font-size: 36px;
    font-weight: 900;
}

.info-boxes {
    display: flex;
    gap: 30px;
}

.info-boxes img {
    border: 3px solid #EB5E0B;
    border-radius: 5px;
}

.section-three-wrapper {
    background-color: #A3D2CA;
}

.section-three {
    margin: 50px 200px;
}

.section-three blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.section-three figcaption {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.section-four-wrapper {
    background-color: #F8F1F1;
}
.section-four{
        margin: 50px 200px;
        padding: 25px 100px;
        border-radius: 5px;
        background-color: #EB5E0B;
        color:#F8F1F1;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    .section-four button {
        border: 2px solid #F8F1F1;
    }

    .footer-wrapper {
        background-color: #5EAAA8;
    }

    .footer {
        color: #F8F1F1;
        text-align: center;
        font-size: 15px;
        padding: 20px;
    }